.app__navbar {
  background: rgb(219 223 235 / 85%) !important;
  backdrop-filter: blur(5px) !important;
  box-shadow: -7px 0px 28px 10px rgb(134 126 149 / 59%) !important;
  position: fixed;
  z-index: 10 !important;
}

.app__navbar-links {
  flex: 1 !important;
  justify-content: center !important;
  align-items: center !important;
  list-style: none !important;
  margin: 0 2rem !important;
  display: flex !important;

  li {
    margin: 0 1rem !important;
    cursor: pointer !important;
    flex-direction: column !important;

    div {
      width: 10px !important;
      height: 10px !important;
      background: transparent !important;
      border-radius: 50% !important;
      margin-bottom: 5px !important;
    }

    a {
      color: rgba(0, 0, 0, 0.6) !important;
      text-decoration: none !important;
      flex-direction: column !important;
      text-transform: capitalize !important;
      font-weight: 600 !important;
      font-size: large !important;
      transition: all 0.3s ease-in-out !important;
      font-family: 'Inter';
      font-style: normal;

      &:hover {
        color: var(--secondary-color) !important;
      }
    }

    &:hover {
      div {
        background: var(--secondary-color) !important;
      }
    }
  }
}

.app__navbar-menu-icon {
  margin: 1rem 1rem 0 0 !important;
  width: 45px !important;
  height: 45px !important;

  @media screen and (max-width: 450px) {
    width: 35px !important;
    height: 35px !important;
  }

  background: var(--secondary-color) !important;

  svg {
    color: var(--white-color) !important;
    cursor: pointer !important;
  }
}

.app__navbar-menu {
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 60% !important;
    height: 100vh !important;
    background: url('../../assets/bgWhite.png') !important;
    background-color: var(--white-color) !important;
    background-size: cover !important;
    background-repeat: repeat !important;
  }
  ul {
    list-style: none !important;
    padding: 0rem 0 !important;
    flex-direction: column !important;
    flex: 1 !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    list-style: none !important;
    margin: 0 2rem !important;
    display: flex !important;
  }

  li {
    margin: 1rem 1rem !important;
    cursor: pointer !important;
    flex-direction: column !important;

    div {
      width: 10px !important;
      height: 10px !important;
      background: transparent !important;
      border-radius: 50% !important;
      margin-bottom: 5px !important;
    }

    a {
      color: rgba(0, 0, 0, 0.6) !important;
      text-decoration: none !important;
      flex-direction: column !important;
      text-transform: capitalize !important;
      font-weight: 600 !important;
      font-size: large !important;
      transition: all 0.3s ease-in-out !important;
      font-family: 'Inter';
      font-style: normal;

      &:hover {
        color: var(--secondary-color) !important;
      }
    }

    &:hover {
      div {
      background: transparent !important;
      }
    }
  }
}
