.app__navbar {
  background: var(--white-color) !important;
  // background: linear-gradient(-45deg, rgb(253, 214, 214) 0%, #c6deffa6 100%);
  backdrop-filter: blur(5px) !important;
  position: fixed;
  z-index: 10 !important;
  height: 100px;
  justify-content: center !important;
}

.app__navbar-links {
  flex: 1 !important;
  justify-content: center !important;
  align-items: center !important;
  list-style: none !important;
  margin-top: -9px !important;
  display: flex !important;

  li {
    margin: 0 1rem !important;
    cursor: pointer !important;
    flex-direction: column !important;

    div {
      width: 10px !important;
      height: 10px !important;
      background: transparent !important;
      border-radius: 50% !important;
      margin-bottom: 5px !important;
    }

    a {
      color: rgba(0, 0, 0, 0.6) !important;
      text-decoration: none !important;
      flex-direction: column !important;
      text-transform: capitalize !important;
      font-weight: 600 !important;
      font-size: large !important;
      transition: all 0.3s ease-in-out !important;
      font-family: 'Inter';
      font-style: normal;

      &:hover {
        color: var(--secondary-color) !important;
      }
    }

    &:hover {
      div {
        background: var(--secondary-color) !important;
      }
    }
  }
}

.app__navbar-menu-icon {
  // margin: 1rem 1rem 0 0 !important;
  width: 45px !important;
  height: 45px !important;

  @media screen and (max-width: 450px) {
    width: 35px !important;
    height: 35px !important;
  }

  background: var(--secondary-color) !important;

  svg {
    color: var(--white-color) !important;
    cursor: pointer !important;
  }
}

.app__navbar-menu {
  div:nth-child(3) {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 60% !important;
    height: 100vh !important;
    // background: url('../../assets/bgWhite.png') !important;
    background-color: var(--white-color) !important;
    background-size: cover !important;
    background-repeat: repeat !important;
  }

  ul {
    padding: 0rem 0 !important;
    flex-direction: column !important;
    flex: 0 !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    list-style: none !important;
    margin: 0 2rem !important;
    display: flex !important;
  }

  li {
    margin: 1rem 1rem !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start !important;

    div {
      width: 24px !important;
      height: 24px !important;
      margin-bottom: 5px !important;
    }

    a {
      color: rgba(0, 0, 0, 0.6) !important;
      text-decoration: none !important;
      flex-direction: column !important;
      text-transform: capitalize !important;
      font-weight: 600 !important;
      font-size: large !important;
      transition: all 0.3s ease-in-out !important;
      font-family: 'Inter';
      font-style: normal;

      &:hover {
        color: var(--secondary-color) !important;
      }
    }

    &:hover {
      div {
        background: transparent !important;
      }
    }
  }

  .app__navmenu_social-media {
    margin: 0 !important;
    margin-top: 10px !important;
    flex-direction: row !important;
    display: flex !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
    justify-content: flex-start !important;

    li {
      margin: 0rem 1rem !important;
      cursor: pointer !important;
      display: flex !important;
      align-items: flex-start !important;
      align-content: flex-start !important;
      margin-right: -10px !important;
      padding: 0 !important;
      padding-top: 10px !important;
      max-width: 40px;
      div {
        width: 24px !important;
        height: 24px !important;
        margin-bottom: 5px !important;
        margin-right: 16px;
      }
    }
  }
}

.app__navbar_social-media {
  margin: 0 !important;
  margin-top: 10px !important;
  flex-direction: row !important;
  display: flex !important;
  align-items: flex-end !important;
  align-content: flex-end !important;
  justify-content: flex-end !important;

  li {
    margin: 0rem 0rem !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: self-end !important;
    align-content: flex-end !important;
    flex-wrap: nowrap;
    justify-content: flex-end !important;
    padding: 0 !important;

    div {
      width: 24px !important;
      height: 24px !important;
      margin-bottom: 5px !important;
      margin-right: 16px;
      svg {
        width: 30px !important;
        height: 30px !important;
      }
    }
  }
}
